body {
  padding: 0;
  margin: 0 0 0 0;
  color: black;
  background-color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  line-height: 1.3;
}

body *::selection {
  background: #00ff41;
}

body *::-moz-selection {
  background: #00ff41;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  height: auto;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.exhibition {
  margin: 20px;
}

.main-list {
  margin-bottom: 0vh;
}

.center-block {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  position: relative;
  flex-direction: column;
  max-width: 50vw !important;
  box-sizing: border-box;
  margin-bottom: 0vh;
}

@media (max-width: 768px) {
  .center-block {
    max-width: 100% !important; /* override the 50vw cap */
    width: 100%; /* let the block fill its parent */
  }

  .center-block img {
    display: block;
    width: 100% !important; /* fill the container on mobile */
    height: auto !important; /* keep aspect ratio */
  }
}
