body {
  width: 100vw;
  padding: 0;
  margin: 0 0 0 0;
  background-color: white;
}

body *::selection {
  background: #abe7b0;
}

body *::-moz-selection {
  background: #abe7b0;
}

h2 {
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  font-family: Arial;
  padding: 1em 0 0;
}

ul {
  list-style: "○  ";
  padding: 0;
}

li {
  text-transform: uppercase;
}

a {
  color: blue;
  font-family: Arial;
}

#main-list {
  font-family: Arial;
  font-size: 14px;
  line-height: 1.4;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 0vh;
}

#header {
  text-align: center;
}

#header:hover span {
  display: none;
}

#header:hover:before {
  content: "◜◞";
}

#footer {
  text-align: right;
  padding: 1em 1em 0 0;
}

@media only screen and (max-width: 600px) {
  #main-list {
    width: 80vw;
    left: 5vw;
    margin: 0 0 15vh 0vw;
    padding: 0vw 5vw 0vw 5vw;
  }
}
