body {
  width: 100vw;
  padding: 0;
  margin: 0 0 0 0;
  color: white;
  background-color: black;
}

body *::selection {
  background: #cdcdcd;
}

body *::-moz-selection {
  background: #cdcdcd;
}

h2 {
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  font-family: sans-serif;
  padding: 1em 0 0;
}

a {
  color: white;
  font-family: sans-serif;
}

img {
  width: 100%;
  height: auto;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#main-list {
  margin: 20px;
  width: 40%;
  margin-bottom: 0vh;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

#center-block {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  position: relative;
  flex-direction: column;
  max-width: 70vw !important;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 0vh;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

#header {
  color: white;
}

#header:hover span {
  display: none;
}

#header:hover:before {
  content: "◜◞";
}

#cctv-box {
  padding: 1em 2em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 60%;
  height: 70%;
  margin: auto;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.35);
  overflow: auto;
  display: inline-block;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

@media only screen and (max-width: 600px) {
  #main-list {
    width: 80vw;
    left: 5vw;
    margin: 0 0 15vh 0vw;
    padding: 0vw 5vw 0vw 5vw;
  }
}
