body {
  width: 40%;
  font-family: Arial;
  margin-left: 30%;
  margin-right: 30%;
  background-color: white;
  text-decoration: none;
  line-height: 1.25;
}

body *::selection {
  background: #abe7b0;
}

body *::-moz-selection {
  background: #abe7b0;
}

a {
  color: blue;
  font-family: Arial;
}

img {
  width: 100%;
  height: auto;
}

img.p {
  width: auto;
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
