body {
  margin: 10px;
  padding: 10px;
  text-align: left;
  font-family: Arial;
  font-size: 15px;
  color: black;
  background-color: white;
  text-decoration: none;
  line-height: 1.5;
}

a {
  color: blue;
  font-family: Arial;
}
