body
{
    margin:10px;
    padding:10px;
    text-align:left;
	font-family: Arial;
    font-size:15px;
    color:black;
    background-color:#fff1e5;
    text-decoration:none;
}


a:link {
    color:black;
}

a:visited {
    color:black;
}

a:hover {
    color:#00FF00;
}


hr {
    display: block;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    margin: 0px;
    max-width: 900px;
}